=simple_form_for @formation do |f|
	=f.input :date_df, label: "Date début :"
	=f.input :date_ff, label: "Date fin :" 
	=f.input :titre_formation, label: "Formation" 
	=f.input :institut, label: "Institut :" 
	
	=f.button :submit
