!!!
%html
%head
	%title WADIFTEK
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	= csrf_meta_tags 
%body
	
				
	.container
		.col-md-6.col-md-offset-3
		= yield